.aboutContainer {
    background: #EDF5E1;
    height: 50rem;
}

.aboutContainer h1 {
    margin-left: 2rem;
    padding-top: 2rem;
    color: #05386B;
}

.aboutContainer p {
    padding-top: 4rem;
    margin-left: 3rem;
    width: 50%;
    font-size: 1.2rem;
    line-height: 3rem;
    color: #05386B;
}
