.aboutContainer {
    background: #EDF5E1;
    display: inline-flex;
}

.aboutContainer h1 {
    margin-left: 2rem;
    padding-top: 2rem;
    color: #05386B;
}

.aboutContainer p {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 5rem;
    width: 60%;
    font-size: 1.2rem;
    line-height: 3rem;
    color: #05386B;
}

.imgContainer {
    height: 400px;
    margin: 8% 10% 7% 0;
}

img {
    height: 400px;
}
