.headerContainer {
    display: inline-block;
    align-items: center;
    width: 100%;
}

.header {
    background: #557A95;
    height: 4rem;
    border-bottom: solid #05386B;
    align-items: center;
}

.header h1 {
    display: inline-block;
    text-align: left;
    color: #EDF5E1;
    margin-left: 2rem;
}

.header .nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    float: right;
}

.header li a {
    font-size: 1.4rem;
    color: #EDF5E1;
    justify-content: center;
    padding: 1rem;
}