.projectContainer {
    background: #EDF5E1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    margin: 5%;
    border: 10px solid #05386B;
}

.card-body {
    background: #557A95;
    color: #EDF5E1;
}

.card-body h5 p {
    color: #EDF5E1;
}